main{
	max-width: 800px;
	margin: auto;
	font-family: Helvetica, Arial, sans-serif;
}
h1{
	font-size: 20px;
}
h2{
	font-size: 18px;
	font-weight: normal;
}

details{
	background: #f0f0f0;
	display: inline-block;
	padding: 10px;
}

details summary{
	cursor: pointer;
}

.last-element{
	margin-bottom: 0;
}

.button,
.button:visited{
	color: #111;
	display: inline-block;
	background: #eee;
	padding: 10px 20px;
	margin-right: 1em;
	box-shadow: 0 2px 0 rgba(0,0,0,0.3);
}

a,
a:visited{
	color: #1122CC;
	text-decoration: none;
}

details .inner{
	padding-left: 1em;
}

ul{
	list-style: none;
	padding: 0;
}

li{
	margin: 0.5em 0;
}

.form-group{
	margin: 2em 0;
}

.page-upload .submit{
	display: none;
}

.page-upload .file{
	display: none;
}

.page-upload .file-label{
	font-size: 19px;
	cursor: pointer;
	display: inline-block;
	padding: 0.75em 1.1em;
	background: blue;
	color: white;
	font-weight: bold;
	box-shadow: 0 2px 0 rgba(0,0,0,0.3);
	border-radius: 4px;
}

.page-upload .processing{
	display: none;
}

.screen-image{
	max-width: 100%;
}

.breadcrumbs{
	margin: 1em 0;
}

.breadcrumbs a{
	display: inline-block;
	margin-right: 1em;
	color: #111;
}

.breadcrumbs .separator{
	display: inline-block;
	margin-right: 1em;
}

.actions{
	margin-bottom: 20px;
}

.actions .button{
	width: 60px;
	text-align: center;
}

.date-selector{
	float: right;
}