main{
	max-width: 800px;
	margin: auto;
	font-family: Helvetica, Arial, sans-serif;
}

details{
	background: #f0f0f0;
	display: inline-block;
	padding: 10px;
}

details summary{
	cursor: pointer;
}

a,
a:visited{
	color: #1122CC;
	text-decoration: none;
}

/*details .inner{
	margin-left: 4px;
	padding-left: 10px;
	border-left: solid 2px #1122CC;
}*/

ul{
	list-style: none;
	padding: 0;
}

li{
	margin: 0.5em;
}

.form-group{
	margin: 2em 0;
}

.page-upload .submit{
	display: none;
}

.page-upload .file{
	display: none;
}

.page-upload .file-label{
	font-size: 19px;
	cursor: pointer;
	display: inline-block;
	padding: 0.75em 1.1em;
	background: blue;
	color: white;
	font-weight: bold;
	box-shadow: 0 2px 0 rgba(0,0,0,0.3);
	border-radius: 4px;
}

.page-upload .processing{
	display: none;
}

.screen-image{
	max-width: 100%;
}